
	body {
	background-image: linear-gradient(#426a5a, #7fb685);
	font-family: Arvo;
	color: #ad4b49;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	}
	/* Styling for the Code Quiz Intro Jumbotron */
	#intro {
	background-color: #DDAE7E;
	text-align: center;
	border-style: inset;
	border-width: 2px;
	border-color: #f2c57c;
	}
	/*Navbar Styling*/
	a {
	font-size: 2rem;
	color: whitesmoke;
	}
	.justify-content-end {
		color:whitesmoke;
	font-size: 3rem;
	font-weight: bolder;
	}
	#time {
		display: none;
	}
	/* Jumbotron h1 */
	.display-4 {
		font-size: 2rem;
		color: #ad4b49
	}
	
	/* Jumbotron Start button */
	#start {
		padding: 10px 50px;
		background-color: #7FB685
	}
	
	/* quiz answer buttons */
	.btn, .btn:focus, .btn:hover, .btn:active {
		color: #ad4b49;
		background-color: #7FB685;
		border-color: #426A5A;
		outline: none;
		box-shadow: none;
	}
	
	/* quiz card */
	.card {
		border-style: inset;
		border-width: 2px;
		border-color: #f2c57c;
		background-color: #DDAE7E;
		color: #ad4b49;
	}
	
	/*  hide Card */
	#questions {
		display: none;
	}
	
	
	/* Align answers left in card */
	.question-btn-container {
		text-align: left;
	}
	
	/* question button margins */
	.question-btn {
		margin-top: 2.5px;
		margin-bottom: 2.5px;
	}
	
	/* initials submit margins */
	.submit-btn {
		padding-top: .17rem;
		padding-bottom: .17rem;
		margin-top: -4px;
		margin-left: .21rem;
	}
	
	/* wrong/correct response */
	.response {
		display: none;
	}
	
	/* quiz end final score card */
	#result{
		display:none;
		background-color: #DDAE7E;
		border-style: inset;
		border-width: 2px;
		border-color: #f2c57c;
	}
	
	/* leaderboard card */
	#scores {
		display: none;
		background-color: #DDAE7E;
		border-style: inset;
		border-width: 2px;
		border-color: #f2c57c;
	}
	
	/* leaderboard margins */
	#leaderBoard{
		margin-bottom: 10px;
	}
	
	/* leaderboard text */
	.score{
		list-style-position: inside;
		margin-bottom: 2px;
	}